h3 {
        color:red;
}
#text1 {
        font-size: 50px;
}
.heading{
    color:darkblue;
    background-color:#ccc;
    border:4px solid black;
    text-align:center;
}
img {
        border: 4px solid green;
}
.red {
    font-size:100px;
    color:red;
    background-image:url(image/kot.jpg) ;
    background-position:center;
}
.orange {
    color:orange;
}
.lime {
    color:lime;
}
.gold {
    color:gold;
}
.link{
    text-decoration: none;
    text-transform:lowercase;
}
.list li {
    font-weight:70px;
    height:50px;
    border: 1px solid #ccc;
}
.list + h2{
    color:darkgreen;
}
h1,h2,p{
    text-align:center;
}
p{
font-size:40px;
}